extends layout

block content
  p Please enable webgl

  div#blocker
    button#start enter
  div#container

  script(src='lib/zlib.min.js')
  script(src='lib/three.min.js')
  script(src='lib/GLTFLoader.js')
  script(src='lib/OrbitControls.js')
  script(src='javascripts/particle_system.js')
  script(src='javascripts/graphics.js')

  if main
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/main.js')
  else
    script(src='javascripts/microphone.js')