doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='shortcut icon', type="image/x-icon", href='/images/favicon.ico')

        // Bootstrap & jquery
        script(src='lib/jquery-3.4.1.min.js')
        script(src='lib/popper.min.js')
        script(src='lib/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js')
    body
        block content
