/* Universal */
body {
  padding: 50px;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  overflow: hidden;
}

a {
  color: #00B7FF;
}

.fullscreen {
  position: fixed;

  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

/* Home */
#start {
  position: relative;
  width: 300px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
}

#container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

#blocker {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 999;

  background-color: black;

  text-align: center;
}

/* Menu */
#menuContainer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;

  width: 100%;
  height: 100%;

  padding: 10px 10% 10%;

  text-align: center;
}

#menuTrigger {
  position: absolute;
  top: -50px;

  margin-left: 20px;

  left: 0;
}

#menuCard {
  background: #e6fff3;
}

#menuTitle {
  background: white;

  width: 150px;
}

#submitButton {
  margin-top: 30px;
}

#uploadForm {
  z-index: 99;
}

.shadow {
  box-shadow: 5px 5px 50px 5px #c0d6cb;
}

/* Error */
#cryer {
  z-index: -999
}

.bg-alpha {
  background: rgba(255,255,255,0.4);
}