.gruh-canvas {

  transition: 0.5s;

  position: absolute;
  left: 20vw;
  top: 0;

  &.focus {
    left: 0;
    top: 0;
  }

  canvas {
    transition-duration: 2s;
    transition-property: opacity;

    opacity: 0;

    position: absolute;
    left: 0;
    top: 0;
  }

  &.loaded {

    canvas {
      opacity: 1;
    }

  }
}